@import url(https://db.onlinewebfonts.com/c/6138beb83221f6eb46ed08543a304d1d?family=Twentieth+Century);
@import url(https://db.onlinewebfonts.com/c/cdf72388115e4baec39bfc220cc786af?family=Futura-Lig);
:root {
    --shine-degree: 120deg;
    --shine-color: rgba(255, 255, 255, 0.2);
}

nav {
    padding: 30px 0 30px 0;
}

.font-1 {
    font-family: "Twentieth Century";
}

.font-2 {
    font-family: "Futura-Lig";
}

.new {
    font-size: 17px;
}

.topbar {
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 10px 0 10px 0;
}

.ham-style {
    border: none;
    background: transparent;
    font-size: 1.6rem;
    padding-left: 2rem;
}

.w-1 {
    width: 1.2rem;
}

.w-2 {
    width: 2rem;
}

.w-3 {
    width: 3rem;
}

.w-5 {
    width: 5rem;
}

.w-9 {
    width: 13rem;
}

.icon-sizer-1 {
    font-size: 1.5rem;
}

.img-seter {
    width: 290px;
    height: auto;
}

.t {
    font-weight: 600;
    padding-bottom: 5px;
}

.d {
    font-weight: 300;
}

p {
    margin: 0 !important;
}

.size-box {
    border: 2px solid #d8d8d8;
}

.mouse-pointer {
    cursor: pointer;
}

.border-bottom {
    border-bottom: 2px solid rgb(203, 203, 203);
}

.border-top {
    border-top: 2px solid rgb(203, 203, 203);
}

.border-right {
    border-right: 1px solid rgb(203, 203, 203);
}

.shine-button {
    letter-spacing: 3px;
    position: relative;
    overflow: hidden;
}

.shine-button::after {
    content: " ";
    height: 100px;
    top: 0;
    transform: skewX(10deg);
    background: linear-gradient(123deg, #fdfdfd, transparent);
    filter: blur(30px);
    position: absolute;
    width: 60px;
    opacity: 0.7;
    right: -100px;
}

.shine-button:hover::after {
    animation: shine-hover 1s;
}

@keyframes shine-hover {
    0% {
        right: -100px;
    }
    100% {
        right: 500px;
    }
}

.space {
    letter-spacing: 5px;
}

.all-cat-img {
    transition: transform 0.3s ease;
}

.all-cat-eff:hover .all-cat-img {
    transform: scale(1.01);
}

.input input {
    border: none;
    border-bottom: 2px black solid;
    padding: 10px;
    width: 300px;
    outline: none;
}

.input button {
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    width: 50px;
}
.bg-trans{
    
}
.forfrom {
    width: 22%;
}

.form-controler {
    padding: 5px;
    width: 100%;
    border: 2px rgb(218, 218, 218) solid;
}

.bg-trans {
    background-color: transparent;
    border: none;
}

.d-full {
    height: 100vh;
}

.sidebar {
    height: 100vh;
    position: absolute;
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.559);
    width: 100vw;
    transition: all 1s;
}

.inner-sidebar {
    padding: 0 20px 0 20px;
    height: 100vh;
    width: 23%;
    background-color: white;
}
.inner-acc{
    box-shadow: 2px 2px 5px rgb(153,153,153);
    border-radius: 20px;
    height: 400px;
}
.box{
    padding: 15px 20px;
    background-color: rgb(153,153,153);
    border-radius: 100px;
}
.info{
    box-shadow: 2px 2px 5px rgb(153,153,153);
    padding: 10px 20px;
    border-radius: 20px;
}
.b-hover{
    border-left: 0px solid rgb(153,153,153);
    transition: border .2s linear;
}
.b-hover:hover {
    border-left:8px solid rgb(153,153,153);
}
.b-hover:hover .text{
    font-weight: 400 !important;
}
.item{
    position: relative;
}
.position{
    position: absolute;
}
.bg-gray{
    background-color: rgb(153,153,153);
}
.border-radius{
    border-radius: 15px;
}
.product-h{
    font-weight: 400  !important;
}
.q-input input{
    border:none;
    outline: none;
    
    width: 30%;
    text-align: center;
}
.q-box{
    width:30.1% ;
}
.q-point:hover{
background-color: rgb(222, 222, 222);
}
.q-point{
    padding: 5px 20px;
    
}
.accord{
    transition: all .5s ease;
}
.accord-title i{
    transition: all .5s ease;
}
.for-product{
    overflow-y: auto;
    height: 470px;
}
.point{
    position: relative;
}
.point::after{
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    background-color: orangered;
    border-radius: 10px;
    top: 10px;
    left: -20px;
}